<div class="event-wrapper" microdata semanticEntity="Event" semanticContext="http://schema.org/">
  <div class="event-date" microdata semanticProperty="startDate" semanticValue="2013-09-14T21:30">Sat Sep 14</div>
  <div class="event-title" microdata semanticProperty="name">Blink and You'll Miss It Tour</div>
  <div class="event-title" microdata semanticProperty="performer">Typhoon with Radiation City</div>
  <div class="event-venue" microdata semanticProperty="location" semanticEntity="Place">
    <span microdata semanticProperty="name">The Hi-Dive</span>
    <div class="address" microdata semanticProperty="address" semanticEntity="PostalAddress">
      <span microdata semanticProperty="streetAddress">7 S. Broadway</span><br>
      <span microdata semanticProperty="addressLocality">Denver</span>, <span microdata semanticProperty="addressRegion">CO</span> <span microdata semanticProperty="postalCode">80209</span>
    </div>
  </div>
  <div class="event-time">9:30 PM</div>
  <div class="event-price">$13.00</div>
  <a href="http://www.ticketfly.com/purchase/309433">Tickets</a>
</div>
